[2016-06-23 17:39] nicksnyder opened #1 "Support Swift package manager"
Documentation:
https://swift.org/package-manager/

- [ ] Create Package.swift
[code]
- [ ] Move Library code to a `Sources/` folder?
- [ ] Anything else?
- [ ] Test

[2016-06-23 17:51] nicksnyder opened #2 "Support Carthage"
https://github.com/Carthage/Carthage

[2016-06-26 20:25] nicksnyder commented on #2
No changes were needed. Just added documentation.

[2016-06-26 20:25] #2 closed

[2016-06-27 01:39] AnanthaRajuC opened #6 "Broken Links"
https://github.com/linkedin/LayoutKit/LayoutKit/Layouts/LabelLayout.swift

https://github.com/linkedin/LayoutKit/LayoutKit/Layouts/SizeLayout.swift

https://github.com/linkedin/LayoutKit/LayoutKit/Layouts/InsetLayout.swift

https://github.com/linkedin/LayoutKit/LayoutKit/Layouts/StackLayout.swift

https://github.com/linkedin/LayoutKit/LayoutKitExampleLayouts/MiniProfileLayout.swift

https://github

[2016-06-27 01:46] nicksnyder commented on #6
Thanks for reporting this!

[2016-06-27 01:49] #6 closed

[2016-06-28 08:48] markohlebar opened #8 "README: Broken link"
The link to the blog post is broken.
https://engineering.linkedin.com/blog/2016/06/open-sourcing-layoutkit--a-fast-view-layout-library-for-ios-appl

[2016-06-28 13:49] nicksnyder commented on #8
Yeah, the blog post hasn't been published yet. Once it is, the link can be fixed.

[2016-06-28 18:41] nicksnyder commented on #8
Blog post is now published so the link works.

[2016-06-28 18:41] #8 closed

[2016-06-30 09:21] markohlebar commented on #8
Cheers!

[2016-07-04 10:56] FabianTerhorst opened #9 "TableView sample doesn´t work"
Im getting "Extra argument synchronous in Call"

[code]

[2016-07-05 08:54] FabianTerhorst opened #10 "layout to fill out all vertical space and split the width to all sublayouts in a horizontal direction"
Is this behavior possible to split the layout width to all sublayouts. So that all sublayout has the same width?

[2016-07-05 11:01] FabianTerhorst commented on #10
distribution: .fillEqualSize  solved my problem, but the view doesn´t use the full width.

[2016-07-05 13:41] nicksnyder commented on #10
It sounds like you are using a horizontal stack. StackLayout will allocate space equally to each sublayout. Each sublayout will decide how to render in the available space according to its own alignment property. Each layout has a default alignment, but you can override this if it isn't the behavior that you want.

Here are a few examples:

[code]

Feel free to reopen if this doesn't answer your q

[2016-07-05 13:41] #10 closed

[2016-07-06 02:00] nicksnyder opened #13 "og:image tag for layoutkit.org"
Need to figure out how to customize template with mkdocs

[2016-07-06 09:07] FabianTerhorst opened #14 "Supporting other delegates with ReloadableViewLayoutAdapter"
To support custom collectionview or tableview delegates the currentArrangement array has to be public. An example for custom delegates is https://github.com/ecerney/CollectionViewWaterfallLayout .

[2016-07-07 02:37] nicksnyder commented on #14
Yes, will do.

[2016-07-08 19:41] #14 closed

[2016-07-08 19:41] FabianTerhorst commented on #14
Thanks.

[2016-07-09 00:21] afrederick1 opened #15 "ReloadableViewLayoutAdapter animatable CRUD operations"
Hey guys, just started using the library today and have enjoyed working with it. I'm a little stuck and was hoping you could shed some light. I've got my layouts created using a UICollectionView with the `ReloadableViewLayoutAdapter`. The behavior I'm looking for is to load an initial dataset and render the layouts, then be able to insert, delete, move or update items using the collectionview anim

[2016-07-09 01:54] nicksnyder commented on #15
As you have observed, `reload` is designed to reload the entire data set. The logic you are requesting is something that we would like to support, but hasn't been implemented yet (we punted on implementing it because we haven't had that use case yet).

To support what you are asking for we need to add methods `insert`, `update`, and `delete` with signatures similar to `reload` but with appropriate

[2016-07-11 17:53] staguer commented on #15
This is indeed necessary and interesting functionality but it’s not in my list of tasks till August at the earliest. Avoiding race conditions in the async case should be fun. If anyone wants to take this up in the meantime, please feel free.

[2016-07-15 00:47] lucabartoletti opened #17 "Features proposal"
I started using this framework in a sample project. Great work and thanks for sharing.
I spent some time myself working on something similar, as a side project, and i'm considering to switch to LayoutKit cause it is far head on what I have.

Things that I'd like to add:
- **Label baseline alignment**: Be able to align labels by baseline in an horizontal layout
- **Center on a specific element of t

[2016-07-15 03:16] nicksnyder commented on #17
Thanks for sharing your ideas Luca!

It would be helpful if you could create a single issue for each idea so we can discuss and track them independently.

[2016-07-15 03:26] nicksnyder opened #18 "min/max size constraints for layouts"
Currently `SizeLayout` allows layouts to have a specific length along one or both dimensions.

It would be useful to be able to specify maximum width/height and minimum width/height for a nested layout.

One option would be to create a `MinSizeLayout` and a `MaxSizeLayout`. Unsure if it would make sense to combine these into one layout (e.,g. `SizeRangeLayout`), or even combine them with `SizeLayo

[2016-07-15 03:27] nicksnyder commented on #17
I created #18 to discuss min/max size constraints

[2016-07-15 10:20] lucabartoletti commented on #18
Thanks for opening this, probably I prefer the solution of SizeRangeLayout with convience init methods to just specify just MaxSize or MaxWidth or MaxHeight or MinSize or MinWidth or MinHeight.

I need this for my layouts so happy to work on it.

[2016-07-15 11:07] lucabartoletti opened #19 "Label baseline alignment"
I'd like to be able to align labels inside a horizontal stack based on their baseline.

We could Add a new Alignment properties: (Vertical.baseline). If the contained object doesn't have a baseline (not text) than it behaves like .center

[2016-07-15 11:08] lucabartoletti opened #20 "Alignment on a specific element of the stack"
Let's say a stack contains two layouts [A][B], if I set .center as aligment for the stack, than the stack's container will set the stack position based on the mid point of it's size. There are cases where I want to center the stack on a specifc element.

For example in this Stack I have to elements the dot and the text. That text should be centered.
![Sample](http://i.imgur.com/OVvFOff.png)
A solu

[2016-07-15 11:09] lucabartoletti opened #21 "Action support"
Now I can add a button as part of the layout and than regenerate the Layout in response to an user action. Could be useful to have a native support for states (Normal, Highlighted) in a way that the view could automatically update to reflect a given state. i.e. having a state parameter in the view config block

[2016-07-15 11:10] lucabartoletti opened #22 "Ability to translate the position of a view after layout phase"
Ability to apply a traslation to a view position after the layout phase by absolute value or by percentage on the container size.

This could be handy in cases where we need to tweak the position of a element in a complex layout without have to create a custom Layout.

[2016-07-15 11:11] lucabartoletti commented on #17
Thanks!
 I created #19, #20, #21 and #22 to cover those proposal. Closing this

[2016-07-15 11:11] #17 closed

[2016-07-15 17:27] nicksnyder commented on #18
I think it might make sense to put this functionality in `SizeLayout`. Exact size is just a special case of a size range where max size == min size.

Something like this (I omitted all the other layout parameters for clarity)

[code]

[2016-07-15 18:02] nicksnyder commented on #22
I think this would be easily accomplished by creating a custom layout (possible name `OffsetLayout`).

Something like this (incomplete implementation)

[code]

This would probably be appropriate to add as a base layout in LayoutKit.

Do you have an example of a layout where a percentage offset would be useful?

[2016-07-15 20:08] nicksnyder opened #23 "Rename Alignment.position parameter`inRect` to `in rect`"
Rename
`public func position(size size: CGSize, inRect rect: CGRect) -> CGRect`
to
`public func position(size size: CGSize, in rect: CGRect) -> CGRect`

[2016-07-18 17:59] nicksnyder opened #24 "Create `ConfigurableLayout` interface with generic view type parameter"
Creating this issue to document @staguer 's idea to improve the interface w.r.t. animation support.

With the new `ViewRecycler` introduced in #12, the actual creation of the view no longer needs to happen inside of `makeView() -> UIView?`. It would be better if LayoutKit could instantiate the view automatically (reusing if necessary) and then the layout could just configure it.

@staguer Here is

[2016-07-18 20:02] #23 closed

[2016-07-19 01:07] nicksnyder commented on #15
@afrederick1 @staguer

I am not sure if it makes more sense to provide an API that requires the full layout (much simpler code and API), or an API that only asks for the incremental layout changes (more complicated code and API). Implementing the latter is tricky due to how indexes are handled in batch updates.

Here is an example of the former:

[code]

[2016-07-19 06:26] rikoschmidt opened #25 "How to handle orientation change?"
Hi,

first of all thanks for open sourcing LayoutKit!

While experimenting with the Framework a bit I was wondering what'd be the best approach to handle orientation changes.

Suppose we have the following layout and we want to adapt it to landscape mode on tilting the device.

![screen shot 2016-07-19 at 08 14 22](https://cloud.githubusercontent.com/assets/3240957/16940374/c577f6c6-4d89-11e6-8eee

[2016-07-19 17:50] nicksnyder commented on #25
Yes, the way to deal with orientation changes is to recompute the layout arrangement given the new width and/or height. It is perfectly fine to save the original layout object if the layout doesn't need to change (looks like you are already doing this, which is good!).

This might feel weird, but it is exactly what Auto Layout does, except Auto Layout is much slower :).

In LayoutKit 2.0 you will

[2016-07-19 17:50] #25 closed

[2016-07-19 18:00] nicksnyder commented on #21
@lucabartoletti Do you have a use case where the actual layout (size, location) of the button changes depending on the state?

Usually these state changes only affect visual appearance, which means that you can set this up in the Layout's `config` closure without needing to create a separate layout.

[2016-07-19 18:13] nicksnyder commented on #20
I agree that this is a useful feature to have in general. One idea I have would be to add a `StackLayout` distribution of `case centerSublayout(index: Int)` which centers on the sublayout at that index. Thoughts?

In the meantime, you have a few options:
- Could use `InsetLayout` to pad the right side of the stack by the amount of the orange circle
- Write a custom Layout that owns or inherits a S

[2016-07-19 18:24] nicksnyder commented on #19
Sounds useful. Needs some thought as far as what the best design is to accomplish this.

[2016-07-20 07:47] rikoschmidt commented on #25
Thank you @nicksnyder!

[2016-07-21 00:03] nicksnyder opened #26 "Support tvOS?"

[2016-07-21 00:03] nicksnyder opened #27 "Support watchOS?"

[2016-07-21 15:58] nicksnyder commented on #27
Doesn't seem to make sense since there are no UIViews in watchOS.

[2016-07-21 15:58] #27 closed

[2016-07-21 22:55] nicksnyder commented on #18
@lucabartoletti Have you had a chance to work on this? Have any thoughts on my proposal?

[2016-07-27 17:54] nicksnyder commented on #26
TODO: update readme as well

[2016-07-29 02:30] 85636682 opened #31 "labellayout textAlignment is not work"
labellayout textAlignment is not work!
my code like this
[code]

[2016-07-29 05:09] nicksnyder commented on #31
A LabelLayout's default alignment is .topLeading so it will only use the width/height it needs for the content. Since the label will have exactly the width it needs, the textAlignment has no visual effect. It might help you understand if you put a background color on label for debugging.

One of these options is probably what you want:

[code]
or
[code]

I am going to close this issue, but please

[2016-07-29 05:09] #31 closed

[2016-08-03 16:16] nicksnyder opened #32 "StackLayout Distribution.equalCentering"
Would be nice to have

[2016-08-08 16:42] #15 closed

[2016-08-17 19:24] #24 closed

[2016-08-18 02:52] #26 closed

[2016-08-22 06:42] vladimirkofman commented on #21
@nicksnyder Do you have any sample code for adding action support? Let's say I just want an image to be clickable, what is the optimal way to achieve that with LayoutKit?

[2016-08-22 19:55] #18 closed

[2016-08-24 04:26] nicksnyder commented on #21
@vladimirkofman You can add a gesture recognizer (or do anything else you might want to do with a UIView on the main thread) in the config block.

[code]

[2016-08-29 22:08] Andr3y- opened #39 "Convert to Swift 3"
Any idea when Swift3 support would be added, in particular for the latest Xcode 8 beta 6, which I am trying to build a project with (unsuccessfully)?

[2016-08-29 23:15] nicksnyder commented on #39
The library itself should build with Swift 2.3 (which means it should work in Xcode 8).

I just discovered that some of other targets (e.g. sample app) didn't have the appropriate setting configured which would prevent it from building in Xcode 8. This will get fixed when I merge #40 (assuming tests pass).

Are you saying that a Swift 3 app can't depend on a Swift library written in Swift 2.3? Wha

[2016-08-30 03:44] desmond1008 opened #41 "CocoaPods Version Problem"
I tried pod 'LayoutKit'
The version is 0.2.1 and the project created by Florian Krüger
I think it is not the correct kit.
Any idea what should I do to get the updated LayoutKit?

[2016-08-30 04:02] nicksnyder commented on #41
It sounds like your pod repo is out of date. Try running `pod repo update`.

This is what you want:
https://cocoapods.org/pods/LayoutKit

[2016-08-30 06:33] desmond1008 commented on #41
Thank you for your help after update the repo.

[2016-08-30 06:33] #41 closed

[2016-08-30 11:40] Andr3y- commented on #39
I tried building master branch with Xcode 7 and got this
`ld: /Users/username/repos/Network/Network/Frameworks/LayoutKit.framework/LayoutKit compiled with older version of Swift language (2.0) than previous files (3.0) for architecture x86_64
`

[2016-08-30 16:24] nicksnyder commented on #39
@Andr3y- How are you integrating LayoutKit? Carthage? Cocoapods?

I haven't tried using LayoutKit from a Swift3 app yet so I am not exactly sure what is or is not expected to work.

[2016-08-30 16:25] Andr3y- commented on #39
@nicksnyder I am using Carthage.
After doing some research, any non-Swift 3 code won't work in a Swift 3 project.

[2016-08-31 06:08] desmond1008 commented on #21
@nicksnyder Could you mind to add some action sample code in the example?  It will help developer mush easier to understand Layoutkit.

[2016-08-31 07:53] FabianTerhorst commented on #21
@DesmondY there is no difference between LayoutKit and programmatically layouts when you want to add gesture recognizers.

[2016-09-06 07:32] nicksnyder commented on #39
@Andr3y- updated the `swift3` branch. Should build and pass tests on Xcode 8 beta 6.

[2016-09-06 10:49] FabianTerhorst opened #43 "Make LayoutKit extension safe"
This line is not compatible with today extension. https://github.com/linkedin/LayoutKit/blob/master/LayoutKit/LayoutArrangement.swift#L105

Could this get checked like http://stackoverflow.com/questions/29246656/ios-sharedapplication-is-unavailable-in-today-extension to add support for extensions as well?

[2016-09-06 10:56] Andr3y- commented on #39
@nicksnyder amazing, thank you!
Tested: LayoutKit builds with Xcode 8 beta 6 through Cartage and project compiles with no issues

[2016-09-06 16:31] nicksnyder commented on #39
Going to leave this issue open until the project is permanently converted to Swift 3.

[2016-09-06 16:35] nicksnyder commented on #43
It would be nice for LayoutKit to be extension safe.

If we just skip this code then it seems like right-to-left languages wouldn't be handled properly in the today extension. Need to find out if there is an extension safe way to know if the UI should be right-to-left.

[2016-09-06 16:55] nicksnyder opened #44 "Configure travis to run tvOS tests"

[2016-09-06 19:24] FabianTerhorst commented on #43
What's about: ```
if #available(iOS 9.0, *) {
  if UIView.userInterfaceLayoutDirection(
    for: myView.semanticContentAttribute) == .rightToLeft {

      // The view is shown in right-to-left mode right now.
  }
} else { /* Use the previous technique */ }
[code]

[2016-09-07 05:14] nicksnyder commented on #43
@FabianTerhorst Can you share what error you are seeing and when. I just tried adding a Today extension to LayoutKitSampleApp and (surprisingly) everything seemed to work fine.

[2016-09-07 11:58] FabianTerhorst commented on #43
@nicksnyder im getting  ``` 'sharedApplication' is unavailable: not available on iOS (App Extension) ``` as a build error. At the bottom of the page: https://developer.apple.com/library/ios/documentation/General/Conceptual/ExtensibilityPG/ExtensionOverview.html its also documented that this can´t work.

[2016-09-07 15:30] #44 closed

[2016-09-07 21:58] nicksnyder commented on #43
I am able to reproduce this in a separate app.

This is a compile time error so the `else` case can't use `Application.sharedApplication` either.

This means we have to choose between supporting right-to-left languages on Today Extensions and supporting it on iOS 8.

I think what we can do is add a build flag so consumers can make this decision for themselves.

[code]

Will need to fixup the sampl

[2016-09-08 13:56] nicksnyder opened #46 "Create sample app to test Cocoapods integration"
Current sample app is manually setup.

- [x] iOS
- [x] tvOS
- [x] macOS

[2016-09-08 13:56] nicksnyder opened #47 "Create sample app to test Carthage integration"
Current sample app is manually setup.

[2016-09-09 00:19] nicksnyder commented on #43
For the record, the final solution won't require a build flag

[2016-09-12 16:04] #43 closed

[2016-09-12 19:07] nicksnyder opened #50 "LayoutArrangementTests.testAnimation disabled and fails on macOS"
LayoutArrangementTests should be run for the LayoutKit-macOS target but they aren't.

Need to re-enable and get tests to pass.

[2016-09-13 18:09] #50 closed

[2016-09-19 19:04] nicksnyder opened #51 "Enable tests on tvOS 10.0"
See comment in [build.sh](https://github.com/linkedin/LayoutKit/blob/master/build.sh#L7).

Tests work locally but codesign appears to fail on travis.

[2016-09-19 19:11] nicksnyder commented on #39
master is now converted to Swift 3.

[2016-09-19 19:11] #39 closed

[2016-09-21 12:11] rahthakor opened #52 "not working for xcode 7.3.1 with swift 2.2"
Hi,

I'm not able to install layoutkit using carthage.

Xcode Version : 7.3.1
Swift Version   : Apple Swift version 2.2 (swiftlang-703.0.18.5 clang-703.0.31)
                           Target: x86_64-apple-macosx10.9
cartfile             : github "linkedin/LayoutKit"

carthage update --platform iOS
** BUILD FAILED **

The following build commands failed:
	CompileSwift normal arm64
	CompileSwiftSou

[2016-09-21 16:18] nicksnyder commented on #52
Which version of LayoutKit are you trying to use?

LayoutKit 3.0.0 only supports Xcode 8 and Swift 3.

You should be able to use LayoutKit 2.0.1.

[2016-09-21 16:55] rahthakor commented on #52
I was using latest version so might be it would be above 2.1.1.
I will give it try and update this issue.

[2016-09-22 03:56] rahthakor commented on #52
@nicksnyder thank you. I used 2.1.1 for swift version 2.2.

[2016-09-22 04:45] nicksnyder commented on #52
👍

[2016-09-22 04:45] #52 closed

[2016-10-13 22:25] pgherveou opened #54 "UIButton Layout"
Hey there
Is there something equivalent to LabelLayout for views such as UIButton (or any other view that define an intrinsicContentSize)?

Right now I am using a SizeLayout but I am forced to define the size of my button

[code]

<img width="406" alt="screen shot 2016-10-13 at 3 19 47 pm" src="https://cloud.githubusercontent.com/assets/521091/19369220/fae71496-9158-11e6-958d-27509873d465.png">

[2016-10-14 05:55] nicksnyder commented on #54
There is currently no layout specialized for buttons.

Doesn't sound difficult to do, we would just need to figure out how button padding works. I imagine the implementation of ButonLayout could just reuse a InsetLayout and a LabelLayout.

[2016-10-14 21:34] pgherveou commented on #54
Quick question
I am not familiar enough with the codebase

But would it make sense to have a layout for self-sizing view such as label, button, switch
that reuse UIView.sizeThatFits(maxSize: CGSize)

something like this

[code]

[2016-10-15 06:18] esam091 commented on #54
I think you can copy ComponentKit's button layout implementation [here](https://github.com/facebook/componentkit/blob/5d42705f29d04a148bac09b943e8fc64bd9b738c/ComponentKit/Components/CKButtonComponent.mm#L231-L250).

[2016-10-15 14:58] pgherveou commented on #54
Thks @esam091 for the link.
My Point is,  why dont we reuse `sizeThatFits` rather than trying to reimplement it
What are the disadvantage of the method I described above?
cc @nicksnyder

[2016-10-15 21:34] nicksnyder commented on #54
@pgherveou

The implementation of `measurement(within:)` must be safe to run on a background thread so we can't use any UIView methods in it.

From the [UIView documentation](https://developer.apple.com/reference/uikit/uiview)

Instantiating a UIView on a background thread _may_ be fine, but in order to get a proper measurement we would need to set data on the UIView (e.g. button title). Per the a

[2016-10-15 22:11] pgherveou commented on #54
Make sense to me now, thks for the explanations

[2016-10-16 22:27] pgherveou opened #55 "collectionView Cell - recycling rendered subviews"
Hey sorry for the avalanche of questions
I played with the example Feed Collection view and put a breakpoint [here](https://github.com/linkedin/LayoutKit/blob/master/LayoutKit/Views/ReloadableViewLayoutAdapter+UICollectionView.swift#L43), to test whether cell subviews were recycled or not. It gave me the results below.

Each cell subviews are recreated each time `collectionView(_ collectionView: U

[2016-10-17 00:20] nicksnyder opened #56 "BaseLayout doesn't need a view if viewReuseId is non-nil"
See @pgherveou's comment below.

[2016-10-17 00:27] nicksnyder commented on #55
Correct, LayoutKit currently only reuses views that have a `viewReuseId`. This particular example was created before `viewReuseId` existed.

LayoutKit could be smarter about this so I created #56.

You have a few options at this point:

1. Submit a PR for #56 :)
2. Use `viewReuseId`.
3. Don't worry about views not getting recycled unless you have observed a specific performance problem.

[2016-10-17 02:08] pgherveou commented on #56
Not sure if this is doable, but I notice that StackLayout dont create view when both config and viewReuseId are nil. It would be nice if we could preserve that feature when setting viewReuseId

The code below produce the following output
[code]

[code]

[2016-10-17 03:06] pgherveou commented on #56
We could do that to avoid unnecessary views in StackLayout, would it have any side effect?
[code]

[2016-10-17 15:53] nicksnyder opened #58 "ViewRecycler should attempt to recycle views that do not have a `viewReuseId`"
Currently ViewRecycler only reuses views that have a viewReuseId. It could cache views that don't have a viewReuseId by their type and reuse them when creating views.

[2016-10-17 15:56] nicksnyder commented on #55
Going to close this question since we have opened up some issues. Feel free to open a new issue if you have more questions.

[2016-10-17 15:56] #55 closed

[2016-10-17 15:58] nicksnyder commented on #56
@pgherveou I think we might be able to change this on BaseLayout and not just StackView.

[code]

This change is separate from actually caching views so there are now two open issues. This one and #58.

[2016-10-17 16:07] pgherveou commented on #56
Yes That make more sense.
it would just break this kind of code but I guess nobody does that!
[code]

[2016-10-18 16:05] nicksnyder opened #60 "Support views with initializers that require arguments"
ViewRecycler currently instantiates views with a no-argument constructor. This means that if you want to use a view that requires an initializer with an argument (e.g. UIButton), you need to create a subclass with a no-argument initializer.

ViewRecycler should use a view factory method provided by the layout to initialize new views. This will allow layouts to use initializers with arguments based

[2016-10-19 15:41] nicksnyder commented on #56
@pgherveou Going back to your code sample, can you explain why you want to be able to set a `viewReuseId` on the StackLayouts even though you know that you don't need/want a view for those?

[2016-10-21 23:34] pgherveou commented on #56
Sorry for the slow response
I wrongly thought, that I had to set a viewReuseId on every parent of a view to get the recycling to work.

So we might not need this change after all

On a side note I noticed two things
- if you set twice the same id on different views, they don't get recycled
[code]
- I don't know if this could have any impact but if I run twice the same layout with reuseIds set on s

[2016-10-22 04:41] #51 closed

[2016-10-29 20:05] ezrover opened #63 "DWURecyclingAlert Red alert while rendering images and cells..."
FeedTableView in sample app with the following FeedItemLayout causes red boxes around images as well as high latency alert from DWURecyclingAlert. Any thoughts on how I can optimize image loading and layout?

https://github.com/diwu/DWURecyclingAlert/blob/master/RecyclingAlert/DWURecyclingAlert/DWURecyclingAlert.m

`        let actorCommentLayout = StackLayout(axis: .horizontal, sublayouts: [

[2016-10-31 15:29] nicksnyder commented on #63
Thanks for reporting!

I am not familiar with DWURecyclingAlert but based on the README it triggers for two reasons:

LayoutKit does not reuse views by default so my *guess* is that is causing the alert (and not necessarily that it is slow). 8ms doesn't seem that bad since the README also says this:

What hardware did you test on?

LayoutKit will reuse views if a layout has a `viewReuseId`. For th

[2016-11-01 04:06] nicksnyder commented on #63
I experimented with `viewReuseId` and it does noticeably improve performance.

#63 updates the example layouts.

[2016-11-01 13:38] ezrover commented on #63
Excellent, Thank you Nick.

Cheers,
Nader Rahimizad

[2016-11-01 13:38] #63 closed

[2016-11-01 18:21] nicksnyder commented on #63
For clarification, if/when #58 is resolved it may not be necessary to specify viewReuseIds everywhere to get better performance (it would only be necessary for animations).

[2016-11-01 18:22] nicksnyder commented on #58
Data from #63 suggests that this is probably worth doing from a performance perspective.

[2016-11-01 18:52] nicksnyder opened #66 "Subviews should be in a deterministic order, regardless of view reuse"
As reported by @pgherveou in #56:

[code]

This could have unexpected consequences for layering and tap handling if views overlap so LayoutKit should make sure views are in a deterministic order.

[2016-11-01 20:12] nicksnyder commented on #56
viewReuseIds are intended to be unique within the scope of applying a layout to a particular view hierarchy so the behavior is undefined if they aren't.

Thanks for pointing this out. If views don't overlap then it shouldn't matter, but if views do overlap then this might cause unexpected behavior with tap handling. LayoutKit should try to maintain a consistent order of subviews. I created #66 to

[2016-11-01 23:23] #60 closed

[2016-11-01 23:24] #54 closed

[2016-11-04 12:38] #66 closed

[2016-11-10 06:37] RoCry opened #71 "Why there isn't update in `BatchUpdates`"
How would I reload some rows of my table?

It seems very nature if there is updatedItems/Sections in  BatchUpdates.
What did I missed?

Thanks

[2016-11-10 06:59] nicksnyder commented on #71
Should be pretty straightforward and easy to add support for this to [BatchUpdates](https://github.com/linkedin/LayoutKit/blob/master/LayoutKit/Views/BatchUpdates.swift) and [ReloadableView](https://github.com/linkedin/LayoutKit/blob/master/LayoutKit/Views/ReloadableView.swift).

Will also need to add or update unit tests.

@RoCry Would you like to work on this and submit a pull request?

[2016-11-10 07:00] #56 closed

[2016-11-10 07:08] RoCry commented on #71
@nicksnyder Sure, will send the pull request soon.

[2016-11-11 18:49] nicksnyder commented on #71
fixed by #72, thanks!

[2016-11-11 18:49] #71 closed

[2016-12-05 06:47] RoCry opened #75 "Should the config block execute at last?"
For instance: https://github.com/linkedin/LayoutKit/blob/master/LayoutKit/Layouts/LabelLayout.swift#L129-L137

Sometimes I want to change some property when configuration, it will be override by the initial setup.

Should the config block execute after initial setup will be better?

[2016-12-05 06:59] nicksnyder commented on #75
Can you give an example? If you override any of the properties set in the function, then the computed layout will be incorrect.

[2016-12-06 09:39] RoCry commented on #75
@nicksnyder That's very true, but what if you want to change the `text` after layout?

For example, a time label that display the current time.

[2016-12-06 09:44] AlexLittlejohn commented on #75
Use viewReuseId to make layout reuse cheaper. Then just update the layout every second.

[2016-12-06 10:15] RoCry commented on #75
@AlexLittlejohn So your solution is re layout the whole layout stack, at the particular case, I know the layout that I want to change won't affect other layouts. Is there a better way?

[2016-12-06 10:27] AlexLittlejohn commented on #75
That is the way, when updating a layout you use reuse ids to signal the whats changed, whats remaining the same and, by leaving them nil, the layouts that change every update.

[2016-12-06 10:32] RoCry commented on #75
@AlexLittlejohn In my understanding, reuse id only help you to avoid init same view multi times, but the calculation of layout still there, right?

[2016-12-06 10:40] RoCry opened #76 "Support option for custom cell type"
Here is why I want this:

I need add time accessory view and using pan gesture to reveal it(imaging iMessage)

So, what I did for this:
register and dequeue custom cell which have a method to receive offset, and the Revealer will handle pan gesture and send the offset to visible cells.

If you guys think this will be helpful like I do, I would like to send a PR

[2016-12-09 01:14] nicksnyder commented on #75
@RoCry Sorry for slow response, I got sick this week.

Either re-layout, or capture a reference to the UILabel in the config block (be careful about retain cycles) and then update the text as you see fit. Obviously, if you do the latter then there is no guarantee that the text will not over/underflow the layout.

Correct. Allocation and adding subviews is the slowest part. The layout itself is des

[2016-12-09 01:14] #75 closed

[2016-12-09 01:18] nicksnyder commented on #76
I don't understand what you are proposing. Are you talking about UITableViewCells, UICollectionViewCells, or something else?

Please elaborate.

[2016-12-09 01:47] RoCry commented on #76
@nicksnyder I meant to have easy way to use subclass of UITableViewCell.

In my example, I use RevealableTableViewCell instead of just UITableViewCell

[2016-12-09 05:22] nicksnyder commented on #76
What about LayoutKit is preventing you from using a custom UITableViewCell? What would you change/add to LayoutKit?

Is there a reason why you don't create a custom UIView subclass and place in inside of UITableViewCell's contentView?

[2016-12-09 12:41] parski opened #77 "Control actions and highlighted state on layouts"
My team and I are trying out this library for a feed we are incorporating into our app and we really like LayoutKit so far. We would like to thank you for open sourcing this and we find that it's a really great way to build performant user interfaces. However, we are really missing interactivity on layouts that are not `ButtonLayout`s. We want to be able to control the highlighted state of any lay

[2016-12-09 15:01] AlexLittlejohn commented on #77
Perhaps you can just store the highlighted state and then perform a layout update on user interaction? Updating the layout is very efficient especially if you make use of `viewReuseId`.

[2016-12-09 17:18] nicksnyder commented on #77
Please read the discussions #21 and #75.

To the extent that you wish to make style changes to views that do not impact layout (i.e. size or location), you can just capture references to these views from the `config` block (be mindful of retain cycles) and update your style properties whenever you want.

Alternatively, you can do as @AlexLittlejohn said and just relayout with a highlighted state.

[2016-12-15 17:04] AndrewBarba opened #78 ""Not the most performant way to do a corner radius""
Hey guys, found out about LayoutKit from Realm today, looks incredible. We've been having serious issues with auto layout performance and also use a lot of corner radius's in our views, can you provide a link to something more performant?

Re: [http://layoutkit.org/building-ui/#defining-composite-layouts](http://layoutkit.org/building-ui/#defining-composite-layouts)

[2016-12-15 20:04] Jauzee commented on #78
@AndrewBarba more effective way to round an `UIView`is to assign an `CAShapeLayer`with desired `UIBezierPath`. Something like this:

[code]

[2016-12-15 22:41] chmaynard opened #79 "Layout of layoutkit.org home page"
When I use the Safari browser to visit the layoutkit.org site with an 85% page zoom, the layout breaks. Many websites have this problem, but it's ironic that Layout Kit can't get this right. Let me know if you need details on my configuration. The page zoom is configurable in Safari's Advanced preference panel.

[2016-12-15 22:44] FabianTerhorst commented on #79
You can create an issue at https://github.com/mkdocs/mkdocs about this issue.

[2016-12-16 09:47] onmyway133 opened #80 "How do you do the benchmark?"
Hi, just curious on how the benchmark was performed http://layoutkit.org/benchmarks/ ? I assume that `layout time` is the time from before to after `reloadData`?

[2016-12-16 17:37] nicksnyder commented on #79
I can reproduce this issue using Safari 10.0.1 on El Capitan. Since Firefox and Chrome don't appear to have this problem, I would bet that this is just a bug in Safari.

To avoid potential confusion, the layout problem you are observing is not related in any way to how LayoutKit works. LayoutKit is a native library. layoutkit.org is just a generated docsite that doesn't use LayoutKit.

layoutkit.o

[2016-12-16 17:50] nicksnyder commented on #78
Make sure you measure perf using instruments so you know what the actual performance problem is. For example, if you disable all occurrences of corner radius in your cells, does FPS go up during scroll? If yes, then it is worth fixing; if no, then don't bother.

The two general solutions that I am aware of are:
1. Masking, like what @Jauzee suggested
2. Processing the image so that it is actually

[2016-12-16 17:50] #78 closed

[2016-12-16 19:00] nicksnyder commented on #80
How to run the benchmarks:
1. Checkout the code
2. Run the LayoutKitSampleApp target on a device
3. From the main menu, select BenchmarkViewController
4. Choose a benchmark to run
5. Results are logged to the console

Each benchmark iteration instantiates a new view controller with some data and then measures `view.layoutIfNeeded()` ([code](https://github.com/linkedin/LayoutKit/blob/master/LayoutK

[2016-12-16 19:00] #80 closed

[2016-12-16 19:36] chmaynard commented on #79
Thanks, I'll let the Safari/WebKit team at Apple know about this problem.

I realize that the website's layout has nothing to do with your layout engine, I was just being snarky..

Craig

[2016-12-16 21:42] AndrewBarba commented on #78
@Jauzee @nicksnyder Thank you guys, all great tips

[2016-12-19 19:00] nicksnyder commented on #76
@RoCry ping, can you clarify?

[2016-12-19 19:02] nicksnyder commented on #77
@parski ping, did my suggestions help?

[2016-12-20 02:44] RoCry commented on #76
@nicksnyder Very sorry for the deeeeeeelay, busy days recently..

If need custom cell in LayoutKit, I may have only one option:
Take parts advantages of ReloadableViewLayoutAdapter, implement the datasource part and dequeue cell by myself. Which make the reuse code in ReloadableViewLayoutAdapter useless.
So I want to change ReloadableViewLayoutAdapter if this is the best way to implement feature l

[2016-12-22 00:59] AlanMcKen opened #81 "How to use tableView:didSelectRowAtIndexPath: delegate method with ReloadableViewLayoutAdapter?"
How can I use tableView:didSelectRowAtIndexPath: or deselectRowAtIndexPath:animated: delegate methods for managing cell selection when I use ReloadableViewLayoutAdapter to create tableView (like in LayoutKitSampleApp)?

[2016-12-22 02:29] nicksnyder commented on #81
ReloadableViewLayoutAdapter implements UITableViewDelegate methods so you have two options if you want to implement other UITableViewDelegate methods:

1. Subclass ReloadableViewLayoutAdapter, implement the additional methods (like `tableView:didSelectRowAtIndexPath:`), and then set your subclass as the delegate.
2. Create a new class that implements UITableViewDelegate and owns a ReloadableViewLa

[2016-12-22 02:29] #81 closed

[2016-12-22 06:56] jamesatgithub opened #82 "Any roadmap to support Xamarin.iOS"
It would be great that Xamarin.iOS developer can use this lib!

[2016-12-22 18:19] nicksnyder commented on #82
I have not used Xamarin before so I don't know how it handles importing Swift libraries. If you know what needs to change, please provide details.

[2016-12-23 02:08] jamesatgithub commented on #82
There're two way to support Xamarin.iOS:

1. Xamarin.iOS C# version of this lib - e.g. found this repo https://github.com/ararog/LayoutKit.Xamarin

2. Swift Binding for Xamarin.iOS - didn't find official link for Swift Binding on Xamarin but here is a link http://stackoverflow.com/documentation/xamarin.ios/6091/binding-swift-libraries and this is the official link of OC binding for Xamarin.iOS htt

[2016-12-23 22:39] nicksnyder commented on #82
I don't plan on writing or maintaining LayoutKit in multiple languages.

It sounds like all you need to do is build LayoutKit as a framework and import that into Xamarin. If you want to submit a PR with a script that builds a framework in the way that Xamarin needs, I would be happy to merge that.

[2017-01-05 21:51] dkindler opened #84 "LabelLayout alignment and numberOfLines issue"
Hello,

I've created a layout to list a person's name and title like so:

[code]
As you can see, I am limiting the number of lines for the `title` label to be one, and for the `alignment` to be `.center`. However, my layout renders like so:

<img width="119" alt="screen shot 2017-01-05 at 4 39 47 pm" src="https://cloud.githubusercontent.com/assets/26625/21698879/1e48dece-d367-11e6-9a65-019e82673fd

[2017-01-06 19:15] nicksnyder commented on #84
LabelLayout needs to know `numberOfLines`.

[code]

[2017-01-06 19:15] #84 closed

[2017-01-11 23:18] #76 closed

[2017-01-14 14:07] inamiy opened #88 "Animation doesn't work well for adding & removing views"
Though animation works nicely for reused views, newly-added or removed views don't get any good visual effects since their frames are either miscalculated (when added) or not even calculated (when removed).

It would be nice to have some effects for them e.g. fade in/out, and also delaying `purgeViews` so that animation don't get interrupted.

[2017-01-14 16:04] nicksnyder commented on #88
Thanks for the report. You are correct that added views are just added and
removed views are just removed.

When I was implementing this, my thinking was that all animated views
should be in the before and after states. For add/remove this would be
implemented as opacity fade (or even translating the frame on/off screen).

I am open to making improvements, but it would be helpful if you could
prov

[2017-01-15 02:36] inamiy commented on #88
I added playground demos in https://github.com/linkedin/LayoutKit/pull/89.
Please take a look at "Test" page that demonstrates the awkward animation when view gets added/removed.

And, what I mean by "delay`purgeViews` so that animation don't get interrupted" means that view-removal needs to be done after fade-out animation completes.

I think LayoutKit will probably need to call `UIView.animate(.

[2017-01-17 23:39] inamiy commented on #88
FYI I recently released https://github.com/inamiy/Zelkova (LayoutKit + Redux-like state management support).
It also includes animation demo that is simpler than https://github.com/linkedin/LayoutKit/pull/89.

[2017-01-18 21:37] stephensilber opened #90 "BatchUpdates reloadItems has slow performance"
I have built a horizontally scrolling control that uses a fixed number of fixed-size cells using LayoutKit. When the user taps a cell, I'd like to reload the previously selected cell and the newly selected cell in order to move the selection indicator. I attempted to do this by using `BatchUpdates` and setting the `reloadItems` property, but the performance is very slow.

Once I build `BatchUpdate

[2017-01-20 04:00] nicksnyder commented on #90
What call is being slow? Can you please provide numbers/measurements to quantify the slowness?

If you could attach the code you are using and how to reproduce the slowness, that would be helpful.

[2017-01-20 17:18] parski commented on #77
Excuse my slow response.

Your suggestion certainly helped. We solved this by using a custom view to be wrapped by our layouts and letting that view handle it's states and control actions. After some discussion we concluded that, like you said, it should be our `UIView` subclasses that handle the states and actions, not our layouts, so we withdraw our proposal and consider this issue closed.

Agai

[2017-01-20 17:22] #77 closed

[2017-01-20 18:02] stevejcox opened #91 "Best way of embedding a UIScrollView"
Hi all,

I'm working on using UIScrollView's within layouts and am not sure if this is the best way:
https://gist.github.com/stevejcox/3007d694ef8394bdbfb97718349089de

Adding the content view as a sub layout of the SizeLayout<UIScrollView> causes the caption to size to the scrollview size rather than the content size.

Any suggestions on how to improve this would be very helpful!

Thanks,
Steve

[2017-01-20 23:12] stephensilber commented on #90
Sorry for the delayed response. I'm attaching a sample project that reproduces what I'm talking about.

`DatePicker` is a simple date selection control that has a single highlighted date. The expected behavior is that after we tap an unselected date, the currently selected date and the newly selected date are both reloaded to update their `selected` state. You'll notice that this causes visual stu

[2017-01-23 17:13] stevejcox opened #92 "Best way to reposition view?"
I'm using LayoutKit to create a Form which is centered in the screen.

All works great, however I need to reposition the form layout, which is in a sublayout when a form field is selected due to the keyboard coming onto screen.

Other than keeping a reference to the view and remaking the layout, is there a 'right' way to reposition?

The issue I am having right now is that when I remake the views

[2017-01-23 23:34] stevejcox commented on #91
Ended up creating a new Layout class that extended SizeLayout but with a fixed height.

[2017-01-23 23:34] #91 closed

[2017-01-23 23:34] stevejcox commented on #92
Just used prepareAnimation which has repositioned everything as desired.

[2017-01-23 23:34] #92 closed

[2017-01-24 23:09] kioshimafx opened #93 "UITextView/UITextField in Layout"
Sorry for the stupid question, but the answer to it, i could not find. How i can add UITextView or UITextField in StackLayout/InsetLayout?

[2017-01-25 00:48] stevejcox commented on #93
You could create it in a SizeLayout and make that the sub layout of an inset/stack

[2017-01-25 07:18] YoonjaeYoo opened #94 "How to overlap one layout over another, so that two have different z-index?"
Hi, this is my first time using LayoutKit and I have trouble overlapping two layouts.
I want to overlap two `Layout`s(above for buttons, below for background image).
There's only one `Layout` with multiple sublayout, which is `StackLayout` but I can't seem to get it working.

FYI, what I want to achieve is possible in Android with `FrameLayout`.

Thank you.

![151277360](https://cloud.githubuserco

[2017-01-25 09:44] kioshimafx commented on #93
But what if I need a dynamic calculation layout for UITextField? Not static size.

[2017-01-25 11:09] AlexLittlejohn commented on #94
Perhaps something like an `InsetLayout<UIImageView>` with with a `StackLayout` passed in as a `sublayout`

For example:
[code]

and then use it

[code]

[2017-01-25 11:12] YoonjaeYoo commented on #94
@AlexLittlejohn Does your code ensure overlapping of layouts in z-index?
What's the essential code?

[2017-01-25 18:18] stevejcox commented on #93
I'm no expert (new to LayoutKit).- so someone smarter may come back with a better answer. However SizeLayout will be compressed if the container size is smaller than it's size.

So you could create a SizeLayout with the maximum size you would want and then rely on the InsetLayout to resize it. You'll need to play with the Flexibility / Alignment, but that's how I have gotten it to work with dynami

[2017-01-25 18:51] kioshimafx commented on #93
@stevejcox  Not a bad solution. Thx steve :)

[2017-01-26 16:18] stephensilber commented on #90
@nicksnyder hey, I was curious if you'd had a chance to look at the sample project. Still stuck on this issue

[2017-01-26 22:50] staguer commented on #88
@inamiy I'm looking at Test playground page in inamiy/LayoutKit playground branch. Are you referring to the behavior of the Hello/World label that doesn't have a viewReuseId? Is the problem that it flies in from origin but you expect it to do something nicer, like fade in or out?

The way I would treat such animations is to consider the animation as being not just from some initialLayout to some f

[2017-01-27 01:07] staguer commented on #94
@YoonjaeYoo The layout<->sublayouts relationship translates into superview<->subviews relationship. So the button and logo are subviews and subviews get rendered on top. Does this help?

[2017-01-27 01:07] #93 closed

[2017-01-27 03:48] nicksnyder commented on #88
@staguer explained this much better than I did :)

[2017-01-27 03:55] nicksnyder commented on #90
Thanks for submitting a repo project. We haven't had a chance to take a look at it yet.

[2017-01-27 04:07] YoonjaeYoo commented on #94
@AlexLittlejohn @staguer I see. Thank you both guys!

[2017-01-27 04:08] #94 closed

[2017-01-27 04:49] inamiy commented on #88
I understand that adding more states for the intermediate layouts is the most certain way of making an animation.
But that will require user side to do a lot of hard work for _every single animation_, and that doesn't seem ideal.

Since LayoutKit works like React.js, I think adding an animatable layout e.g.
https://facebook.github.io/react/docs/animation.html may improve the usability (new DSL).

[2017-02-02 09:29] AttilaTheFun opened #96 "Aspect ratio layout?"
Hi I'm interested in using your library, but am struggling to figure out how to accomplish a task which is trivial to do with auto layout. I'm trying to create a layout with a fixed aspect ratio. Is there a simple way to create something like a SizeLayout which will expand to its superview's (er, super-layout)'s width and then its height will be calculated using an aspect ratio with which it is in

[2017-02-03 00:03] staguer commented on #88
Yes, this sounds like a fair point.

This isn't a problem that we've run into ourselves, so I hesitate to suggest additions to the library just yet. Let me know if you have any proposals.

One thought I had was adding support for making modified copies of layouts. Maybe with some sublayout removed, or with an additional config added. Possibly even merging two layouts, a 'before' and an 'after' lay

[2017-02-03 00:12] staguer commented on #96
There is Alignment.aspectFit. Does that suit your situation?

If not, there's may be room for an AspectRatioLayout to be added to the library or at least as a sample. Until that happens, you can do it yourself locally in your codebase by making a new layout class yourself and inserting it into your tree of Layouts.

[2017-02-03 05:10] AttilaTheFun commented on #96
@staguer I'm still not sure how I could use the aspect fit measurement to construct such a layout - how do you pass in the aspect ratio to use? Could you post such an example here and add the layout to the example layouts? Thanks!

[2017-02-03 09:25] AttilaTheFun opened #97 "Clips to bounds is not respected"
I'm trying to add a drop shadow to a view spawned from an inset layout. In the config handler, I'm setting:
[code]
But the shadow is not showing up. If I set the border color, however, that appears to work fine. What's going on here?

[2017-02-03 18:42] AttilaTheFun commented on #96
@staguer I still don't understand how to use the aspect fit alignment to make a layout that scales to the maximum width allowed by its parent, and then expands vertically to maintain an aspect ratio. This is what I'm trying:
[code]

[2017-02-04 05:50] AttilaTheFun commented on #96
@nicksnyder I'm still not sure how exactly to accomplish this using the tools provided. This seems like an extremely common use case and should at least be included as an example, if not as one of the 'primitive' layouts.

[2017-02-04 06:46] AttilaTheFun commented on #96
@nicksnyder @staguer I was finally able to hack something together that works:
[code]
I'm sure you can do a better job, but I think something along these lines would be immensely useful for anyone who is going to use your library.

[2017-02-04 07:07] AttilaTheFun commented on #97
After some investigation, it appears the issue has something to do with drawing outside the view's bounds. Regardless of how this layout system works, it shouldn't prevent views from drawing outside their bounds if they want to.

[2017-02-04 13:58] YoonjaeYoo opened #99 "How to change SizeLayout's width/height dynamically?"
Is it possible to change SizeLayout's width/height or show/hide a Layout after view has been made?
Thank you.

[2017-02-04 20:47] nicksnyder commented on #99
There are two general approaches.

(1) Grab a reference to the view in the config block for the layout. Then you can do whatever you want with that view later. If you resize the view though, it won't affect any of the other views in the layout so this usually isn't what you want unless the change is ephemeral and/or you don't want the rest of the layout to update.

(2) Initialize a new Layout and

[2017-02-04 20:47] #99 closed

[2017-02-04 20:56] nicksnyder commented on #97
I am not aware of any code in LayoutKit that would explicitly prevent you from doing this.

Can you provide a more complete example of what you are trying to do (ideally something reproducible in a playground)?

[2017-02-05 00:00] AttilaTheFun commented on #97
@nicksnyder I was having a hard time getting LayoutKit to run inside a playground but here is a more complete example:
[code]

And here is what I get:
<img width="263" alt="screen shot 2017-02-04 at 3 56 53 pm" src="https://cloud.githubusercontent.com/assets/3255391/22622581/e8d89d80-eaf2-11e6-9c02-3806d3a5c609.png">
<img width="394" alt="screen shot 2017-02-04 at 3 56 59 pm" src="https://cloud.gi

[2017-02-05 02:35] YoonjaeYoo commented on #99
Thank you @nicksnyder

[2017-02-05 05:08] nicksnyder commented on #97
You need to set a nonzero shadow opacity

[code]

[2017-02-05 05:41] nicksnyder commented on #96
@AttilaTheFun I played around with using SizeLayout with Alignment.aspectFit and realized that it doesn't quite do what you want. Your AspectLayout looks pretty close to mergeable. Want to submit a pull request?

[2017-02-06 08:54] AttilaTheFun commented on #96
@nicksnyder Sure, I suppose I could put up a PR tomorrow.

[2017-02-06 08:58] AttilaTheFun commented on #97
@nicksnyder why is that necessary - it normally defaults to 0, meaning that the gradient for the shadow goes from your shadow color to clear. If it's set to opaque it goes to white and all the pixels have an alpha value of 1 I believe.

[2017-02-06 15:35] nicksnyder commented on #97
@AttilaTheFun A default opacity of 0 means "completely transparent" which means your shadow is not visible. Alpha value of 1 means "opaque", not "white".

https://developer.apple.com/reference/quartzcore/calayer/1410751-shadowopacity?language=objc

[2017-02-06 15:35] #97 closed

[2017-02-09 11:11] ki0k1 opened #100 "OverlayLayout needed"
Hello guys, i don't understand how make layout in my project like on picture:
<img width="633" alt="screen shot 2017-02-09 at 2 09 02 pm" src="https://cloud.githubusercontent.com/assets/5331145/22780886/5875e29c-eed1-11e6-9697-63489fe865dc.png">

2 and 3 index is LabelLayout

Please help :/

[2017-02-10 17:03] stevejcox commented on #100
hey @ki0k1

I've had some similar challenges and couldn't work out the best LayoutKit way to do it. Hopefully someone else can offer a better solution.

However the way I achieved this was to simply create a subview where necessary.

In your example I would have 1 and 2 in the same view (add 2 as a sub layout to 1), then add a basic UIView and add 3 to that.

[2017-02-10 21:08] staguer commented on #90
@stephensilber I tried reproducing the problem and couldn't see it. I tried both on the simulator and on an iPhone 5s. In both cases the UI responded swiftly and showed a smooth animation.

[2017-02-10 21:09] stephensilber commented on #90
@staguer using the sample project I provided?

[2017-02-10 21:14] staguer commented on #100
There's definitely a need for an overlay layout.

You can build one yourself, Issue #90 actually has a sample project that happens to include an OverlayLayout.swift, which might help as a starting example.

A poor workaround might be to add a zero-size layout in that corner and add to it a sublayout that extends outside of its bounds. Whether this would work probably depends on whether Layout 3 ha

[2017-02-10 21:33] staguer commented on #90
@stephensilber Yes. I haven't tried uncommenting the code in DatePicker.swift lines 184-187. That commented out code is the fast workaround, if I'm understanding correctly.

Just to be clear, you're not referring to the slow fading out of the perviously-selected item, right?

[2017-02-10 21:40] stephensilber commented on #90
The slow fading happens due to a slow reload of the entire collectionView from what I understand. The fading looks fine when tapping a single date, but when a scrollview is attached to the "date picker", the performance becomes extremely slow. The expected behavior would be no animation, just an instant update of the previously selected and newly selected cells

[2017-02-10 21:45] staguer commented on #90
I think the slow update is an intentional animation implemented by UICollectionView, and it's triggered by the UICollectionView performBatchUpdates method. In the simulator if you select Slow Animations from the Debug menu, the fade takes a lot longer. This indicates to me that it's an intentional animation and not just laggy UI.

[2017-02-10 21:49] stephensilber commented on #90
It would be nice to have `BatchUpdates` be built without any animations, allowing for more performant updates, in that case. Our current solution is to calculate our own `LayoutArrangement`s and then update those through the layout adapter. This works well, but I'm confused why it's so much faster compared to providing a fixed width/height previous to the other `reload:` method on layout adapter

[2017-02-10 22:04] staguer commented on #90
If you disable animations with UIView.setAnimationsEnabled(false), does that make the update feel more responsive?

`    // In order to reload indexPaths, you must modify the data sources before calling this function
    func layoutDatePicker(synchronous: Bool, updates: BatchUpdates? = nil) {
        DispatchQueue.global().async {
            let sections = self.buildSections(updates: updates)

[2017-02-10 22:06] stephensilber commented on #90
I'll give that a shot in the demo project. The exact method I'm referring to is `func reload(arrangement: [Section<[LayoutArrangement]>])`on `ReloadableViewLayoutAdapter:165`

[2017-02-10 22:10] staguer commented on #90
Ah I see, yes. That one calls UICollectionView.reloadData instead of UICollectionView.performBatchUpdates. Hence no animation.

[2017-02-10 22:11] stephensilber commented on #90
I'll go ahead and close this issue since we've found a reasonable workaround for our initial problem. Thanks 😃

[2017-02-10 22:11] #90 closed

[2017-02-16 17:07] cliren opened #101 "tableview - get selected row model"
When `tableView.dataSource = reloadableViewLayoutAdapter` which takes a array of Layout items ( a subclass of InsetLayout<View>), how do I get selected model data from the below table view delegate? do I need to hold on to model reference inside my layout class?

[code]

[2017-02-21 20:00] dkindler opened #102 "Accessing subviews in LayoutKit-generated view"
Hello,

Is there a recommended way to get at subviews of a LayoutKit-generated view?

I'm currently iterating  through the subviews of a view using `viewReuseId`, but I've also considered capturing a reference to the view in the `configure` block of the `Layout`. Both of these are clunky and I'd like to consider other options.

For context, I'm trying to perform a custom `UIViewController` transit

[2017-02-23 19:37] staguer commented on #101
I'd keep a separate data structure of view models or domain models and handle the user interactions at that level. The Layout items I'd use just for producing a UI representation of the current state.

[2017-02-23 19:41] staguer commented on #102
We tend to capture the reference in the `configure` block, but that code predates `viewReuseId`. Let us know which pattern ends up working better for you or if we can add something to LayoutKit to make this better.

[2017-03-12 03:54] iwheelbuy opened #103 "Benchmark crash"
Hello. I just wanted to post here a benchmark crash. Feel free to close the issue!
Xcode 8.2.1, iPhone SE 10.2 simulator 14C89, UICollectionView Manual Layout feed.
<img width="1392" alt="2017-03-12 10 47 34" src="https://cloud.githubusercontent.com/assets/2524584/23828859/0382e128-0712-11e7-8303-de23e8f5b490.png">

[2017-03-14 16:31] thekirankumar opened #104 "Making backgroundLayoutQueue open or public"
We are using LayoutKit's `ReloadableViewLayoutAdapter` along with Realm. But Realm objects can only be accessed from the thread it was created in. Due to this limitation, we are not able to create a Layout since this Layout depends on Realm objects since it throws an exception
`'RLMException', reason: 'Realm accessed from incorrect thread'`

Making the `backgroundLayoutQueue` property in `Reloadab

[2017-03-14 21:49] staguer commented on #104
Making it public sounds reasonable.

[2017-03-16 00:06] #104 closed

[2017-03-22 16:37] Bartzy opened #106 "Isn't LayoutKit still using Auto Layout (NSAutoresizingMaskLayoutConstraint)?"
Hi,

I hope this is the appropriate place to ask this type of questions.

I just wanted to ask, if any part of the view hierarchy is using Auto Layout, I think that UIKit "turns" Auto Layout on for every view, and setting frame/bounds/center for any view updates some `NSAutoresizingMaskLayoutConstraint` constraints.

Is this still the case with LayoutKit?
Is it still fast because these constraints

[2017-03-23 03:44] nicksnyder commented on #106
All LayoutKit does is set frames on UIViews (x, y, width, height). Regardless of UIKit's implementation, there is really nothing left for UIKit to compute for the layout because it literally already has the answer that it needs (frames for all involved views).

Auto Layout may technically be involved, but the equations are trivially solved.

[2017-03-23 03:44] #106 closed

[2017-03-23 03:46] #101 closed

[2017-03-23 09:17] Bartzy commented on #106
Thanks for the quick answer. LayoutKit seems awesome :)

[2017-03-28 15:04] Rep2 opened #107 "GestureRecognizer not receiving taps after batchUpdate"
I am deleting one item from collectionView and reloading collection using `LayoutAdapterCollectionView.reload`. If I pass batchUpdates object to the call rest of the presented items stop receiving taps. If I do not pass batchUpdates object everything works fine.

Any idea why this happens?

[2017-03-30 15:30] jingwei-huang1 commented on #103
PR to fix this issue: https://github.com/linkedin/LayoutKit/pull/110/

[2017-04-03 22:43] staguer commented on #107
@Rep2 Hi, do you set the tap gesture recognizer in a layout's config block? If the views get re-created, the config blocks will get called again and the gesture recognizer should get attached to the new view.

[2017-04-05 15:07] kylebrowning commented on #9
Im getting this as well. @nicksnyder

[2017-04-05 15:14] jingwei-huang1 commented on #9
Hi Kyle, thanks for your feedback. Could you please provide the more information about this error? Is it a crash? Can you reproduce it every time? When does this happen? Which version of Xcode and simulator are you using?

[2017-04-05 15:17] kylebrowning commented on #9
Using code from the Sample, in a new Xcode project, Xcode 8.3 and Simulator iOS 10.3

[code]
I get the following errors

[code]

[2017-04-05 16:10] jingwei-huang1 commented on #9
In the example code, `FeedCollectionViewController` extends from `FeedBaseViewController`. In base class `FeedBaseViewController`, `getFeedItems()` provides an array of `Layout`. Since your `FeedCollectionViewController` is subclass of `UIViewController`, could you post your `getFeedItems()`?

[2017-04-06 01:41] staguer commented on #102
We're considering adding a return value to the makeViews method. It would return a dictionary of layouts to the corresponding views after the view creation finishes.

The collection / table view adapter would add a delegate to notify its owner when a cell has been created and that dictionary would be passed to that.

[2017-04-06 17:04] jingwei-huang1 commented on #1
#[https://github.com/linkedin/LayoutKit/pull/118](url)

[2017-04-06 20:26] staguer opened #119 "ReloadableViewLayoutAdapter updates"
ReloadableViewLayoutAdapter could use a few additions:
- Detecting Collection/TableView size and its changes and using that for computing cell layout arrangements.
- Delegate for scroll notifications.
- Delegate for cell creation notifications.

Two other changes might be coming but seem less clear:
- Updates to cell layout consistency management.
- Pre-computing arrangements for device rotation.

[2017-04-06 20:33] staguer opened #120 "async makeViews method"
When an arrangement's UIViews are expensive to create and configure, `makeViews` can take more time than is available between frames.

Current idea is to add an `asyncMakeViews` method that would walk the arrangement tree in batches, checking `CADisplayLink` for whether to pause the walk to let a frame render.

[2017-04-07 00:19] staguer commented on #9
@kylebrowning So the sample app builds successfully for you but when copied to a new project the code no longer builds?

[2017-04-07 03:18] nicksnyder commented on #120
I am curious if you have have a concrete example of this actually being a problem (what does the view look like and how big is it?).

You will need to be careful about synchronization. For example, if another makeViews pass starts for a new layout, you will want to cancel the async makeViews for the previous layout if it is still happening.

Also think about how this will impact animation (I don't

[2017-04-07 23:38] staguer commented on #120
The size is about a screen-full or more and includes expensive views such as UITextView. According to profiling, much of the time is spent in makeViews, either constructing UIView instances or running config blocks. One workaround has been to async dispatch the config blocks to run a bit later, and to stagger them so that they don't get bunched up again. This cut the framedrops by half, which matc

[2017-04-09 15:15] jingwei-huang1 commented on #46
PR https://github.com/linkedin/LayoutKit/pull/122

[2017-04-09 15:19] jingwei-huang1 commented on #103
PR https://github.com/linkedin/LayoutKit/pull/121 merged

[2017-04-09 15:19] #103 closed

[2017-04-09 20:02] kylebrowning commented on #9
@staguer Correct.

I changed self?.getFeedItems() to be a custom array of my layouts as well.

[2017-04-09 20:09] kylebrowning commented on #9
CC @jingwei-huang1 ^

[2017-04-09 20:38] kylebrowning commented on #9
It appears to not like my use of generics.

[code]

[2017-04-11 13:47] plamenterziev opened #123 "Create list with limitations/constraints of LabelLayout"
LabeLayout relies on boundingRect method which does not work in all cases and I think that it would be great from documentation perspective if have a list of all limitations/constraints found so far.

I've spent few hours finding out why boundingRect does not return valid size and it turned out that it does not work if the NSAttributedString has NSParagraphStyle with line break set to NSLineBreakB

[2017-04-11 14:43] Rep2 opened #124 "ReloadableViewLayoutAdapter batchUpdates animation style"
Hi. I am finding ReloadableViewLayoutAdapter quite useful, but most of the methods are not open making it hard to use it for anything but the simplest of cases. Is there any reason for this?

For example, I need to change UITableView batchUpdates animation style. Method `public func perform(batchUpdates: BatchUpdates)` in `extension UITableView: ReloadableView` uses .automatic and cannot be overri

[2017-04-11 16:36] jingwei-huang1 commented on #123
@plamenterziev Thanks for your feedbacks. For your `NSAttributedString`, did you make `Text` and pass to `LabelLayout` initializer or update attributed text in `config`?

[2017-04-11 16:38] jingwei-huang1 commented on #123
@plamenterziev Could you please also provide the information how you set the `NSAttributedString` to `LayoutLabel`?

[2017-04-11 19:12] jingwei-huang1 commented on #9
@kylebrowning For `layoutProvider`, it has to be `(Void) -> T`. For the generics we are using, please refer to `public struct Section<C: Collection>`. And also you can take a look on the existed example of `layoutProvider` in `func layoutOne() -> [Section<[Layout]>]`.

Please let us know if that resolves your issue.

[2017-04-11 19:15] kylebrowning commented on #9
Will do, Ill let you know.

[2017-04-12 11:25] nicksnyder commented on #124
All else equal, I tried to limit the public API for simplicity. It is hard to predict what others will find useful and it is much easier to make things open later than it is to refactor an API that has everything open by default.

If you think there are improvements that could be made to the API to make it easier to use/extend, please submit a PR with an explanation (separate independent changes i

[2017-04-12 18:40] staguer commented on #124
One thing that we did not do in #105 but probably should have is to add a code comment giving an example scenario when overriding that method would be useful.

[2017-04-13 09:16] Rep2 commented on #124
Great. Will do tomorrow.

[2017-04-13 10:06] RoCry opened #126 "Does arrangement in ReloadableViewLayoutAdapter need replace every time?"
https://github.com/linkedin/LayoutKit/blob/master/LayoutKit/Views/ReloadableViewLayoutAdapter.swift#L91-L93

Say I have a table view with 1000 items, then I insert 1 item in it, it will regenerate the whole arrangement...

Could we just replace the updated items?

[2017-04-13 18:38] dgattey commented on #100
I can take this on!

[2017-04-14 04:53] dgattey commented on #100
Here’s the PR for OverlayLayout https://github.com/linkedin/LayoutKit/pull/127

[2017-04-14 16:20] staguer commented on #100
I wonder why I can't assign this issue to @dgattey

[2017-04-14 19:57] Rep2 commented on #124
Making `func perform(batchUpdates: BatchUpdates)` in `extension UITableView: ReloadableView` open and overriding it results in `Declarations from extensions cannot be overridden yet` because `BatchUpdates` is struct and as such cannot be exposed in objc.

Would you consider making `BatchUpdates` a class?

Other solution would be to add struct specifying animation style to either `func perform(batc

[2017-04-14 21:47] staguer commented on #124
I don't mind making it a class. @nicksnyder ?

[2017-04-14 21:52] Rep2 opened #128 "Weird top scrollViewOffset on ReloadableViewLayoutAdapter with UITableView"
I found a weird behaviour when using ReloadableViewLayoutAdapter with UITableView.

I am unable to remove `tableView.topInset = 35`. I think I have tried everything. Setting `automaticallyAdjustsScrollViewInsets = false` on all VCs in hierarchy and setting `tableView.sectionHeaderHeight = 0,  tableView.sectionFooterHeight = 0`.

It is possible to set `tableView.contentInset = UIEdgeInsets(top: -35

[2017-04-14 23:55] Rep2 commented on #107
Thanks, that solved the problem.

[2017-04-14 23:55] #107 closed

[2017-04-15 00:16] staguer commented on #128
Does this StackOverflow post explain this issue that you're seeing? http://stackoverflow.com/a/23664755

[2017-04-15 09:53] Rep2 commented on #128
It describes the problem and uses (IMO hacky) solution `tableView.contentInset = UIEdgeInsets(top: -35, left: 0, bottom: 0, right: 0)`.

I followed this post http://stackoverflow.com/questions/21069258/automaticallyadjustsscrollviewinsets-not-working and tried all solutions. Non except `tableView.contentInset = UIEdgeInsets(top: -35, left: 0, bottom: 0, right: 0)` work.

[2017-04-17 15:01] nicksnyder commented on #124
Are you sure? The error message seems to indicate that this is a problem because `perform` is a method declared in an extension.

It seems like the solution would be to add the data to BatchUpdates. This animation data seems like it would only be relevant to UITableView though.

[2017-04-17 15:23] nicksnyder commented on #100
@staguer https://github.com/isaacs/github/issues/100

[2017-04-17 15:31] nicksnyder commented on #126
It does regenerate all arrangements. Now that BatchUpdates is a parameter (it wasn't initially), it would be possible to do the optimization you suggest. This optimization can only be done though when BatchUpdates is non-nil (otherwise we don't know what has changed).

[2017-04-17 21:48] dgattey commented on #128
Is your table view inside a view controller like that post described? If so, can you try following the steps they outlined for that situation?

[2017-04-18 01:34] RoCry commented on #126
@nicksnyder Sure, what I want to do is avoid regenerate all arrangements when possible.

I would like to send a PR about this if you agree. Thanks.

[2017-04-18 01:35] Rep2 commented on #124
I have misspoken slightly. It's not about making `BatchUpdates` a class, but about making it exposable to objc. To do this it needs to be a class and inherit from NSObject.

Methods that are declared in extensions and can be exposed to objc, can be overriden. For example both `open func reloadDataSynchronously()` and `open func registerViews(withReuseIdentifier reuseIdentifier: String)` declared i

[2017-04-18 01:46] Rep2 commented on #128
Yes. I have tried setting it both as base view and adding it as a subview to the base view. Same behaviour on both cases.

I am not sure that LayoutKit is causing the problem, but it seems weird to me that manually setting the header view height to `CGFloat.leastNonzeroMagnitude` fixes the issue.

[2017-04-18 04:05] nicksnyder commented on #124
I think I am fine with turning BatchUpdates into a class

[2017-04-18 04:05] nicksnyder commented on #126
Yeah, a PR would be welcome, thanks!

[2017-04-18 13:20] plamenterziev commented on #123
@jingwei-huang1 - I am creating the `Text` and pass to the `LabelLayout` initializer (have no `config`)

[2017-04-18 21:41] dgattey commented on #100
Available in latest!

[2017-04-18 21:42] staguer commented on #100
Thanks!

[2017-04-18 21:42] #100 closed

[2017-04-19 19:56] staguer commented on #123
@plamenterziev We can definitely mention this issue in the layout's documentation comments. Do you know of a way to come up with an exhaustive list of such issues?

In the longer term, I'm considering implementing a Layout that would render text to a layer at measurement time, avoiding any `boundingRect` / `UILabel` disagreements.

[2017-04-19 20:42] #128 closed

[2017-04-20 00:32] jingwei-huang1 commented on #46
tvOS and macOS test project https://github.com/linkedin/LayoutKit/pull/132

[2017-04-20 01:28] jingwei-huang1 commented on #123
@plamenterziev I tried to reproduce the same thing, but I couldn't found the issue. Could you please also provide the code how you set it up?

[2017-04-20 08:27] domasn opened #133 "LayoutKit cells not updating in TableView and CollectionView examples"
`4.0.2` release with no modifications.

Exampe of [`TableViewControllerFeedItemLayoutKitView`](https://github.com/linkedin/LayoutKit/blob/master/LayoutKitSampleApp/Benchmarks/TableViewController.swift#L18) uses [`FeedItemLayoutKitView`](https://github.com/linkedin/LayoutKit/blob/master/LayoutKitSampleApp/Benchmarks/FeedItemLayoutKitView.swift#L13) as a view wrapped inside a [`TableCell`](https://g

[2017-04-20 12:21] YoonjaeYoo commented on #91
@stevejcox I've encounted the same issue. Can you share a little more on how you've done it?

[2017-04-24 17:50] #46 closed

[2017-04-25 01:16] #124 closed

[2017-04-25 03:05] nicksnyder opened #134 "LayoutKit CI build is broken"
As of https://github.com/linkedin/LayoutKit/pull/132/files#diff-0b83f9dedf40d7356e5ca147a077acb4 the build script that runs on Travis no longer builds or runs tests for the main LayoutKit target.

Before (tests run): https://travis-ci.org/linkedin/LayoutKit/builds/223716700
After (no tests run): https://travis-ci.org/linkedin/LayoutKit/builds/225308216
Current (no tests run): https://travis-ci.org

[2017-04-25 16:40] jingwei-huang1 commented on #134
@nicksnyder The build failed was because iOS simulator 9.3 is no longer available.

List all available simulators: https://travis-ci.org/linkedin/LayoutKit/builds/225469316
After removing iOS simulator 9.3 from destination: https://travis-ci.org/linkedin/LayoutKit/builds/225640597

I am going to raise the PR for this. In the meanwhile, I am going to investigate why 9.3 is no longer available.

[2017-04-25 16:45] nicksnyder commented on #134
The bigger problem is that a build step failed (the most important one) but Travis CI didn't fail.

[2017-04-25 16:46] jingwei-huang1 commented on #134
Link to PR: https://github.com/linkedin/LayoutKit/pull/135

[2017-04-26 02:11] jingwei-huang1 commented on #134
@nicksnyder
In the scripts, I added two simulators below,
[code]
It passes the 9.3 tests
https://api.travis-ci.org/jobs/225843372/log.txt?deansi=true

Do you think if that is a good approach?

[2017-04-26 02:29] nicksnyder commented on #134
Seems fine to me

[2017-04-26 02:36] nicksnyder commented on #133
Thanks for the great bug report!

I don't think I will have time to take a look at this in any reasonable timeframe so PRs from anyone would be welcome.

@jingwei-huang1 @staguer

[2017-04-26 17:20] jingwei-huang1 commented on #133
From my first glance, I found it is because of autolayout. I will investigate this more.

[2017-04-26 20:02] domasn commented on #133
@jingwei-huang1 Indeed it's a problem with `Autolayout`. I tried playing with it and managed to build a working solution. See [recent changes](https://gist.github.com/domasn/58a42251a81e26ffda447e267b363ed2/revisions#diff-08025799cfc5d9c1a252086722c6fcfe) in [the same gist file](https://gist.github.com/domasn/58a42251a81e26ffda447e267b363ed2).

In summary - I added a height constraint to `wrappedC

[2017-04-27 22:39] dgattey opened #137 "Clarity of viewReuseId"
Currently, it's unclear from the docs what `viewReuseId` means. If it should be used to uniquely identify every single view, if it's useful in collection view cells, if it's useful for animation, etc. This issue serves as a bookmark to make this clearer in the documentation.

For those interested, `viewReuseId` should **not** uniquely identify each view. Rather, it should identify layouts that are

[2017-04-27 22:42] dgattey opened #138 "Updating coding style"
Per LinkedIn and Apple's latest style guides, LayoutKit does not conform to either. `viewReuseId` -> `viewReuseID` for example, and all `k` prefixed constants shouldn't be `k` prefixed. There's a lot more here too. We need a pass through to update the style everywhere.

Additionally, layouts have parameters in different orders and by different names (`config` vs. `configuration` for example). It w

[2017-04-28 02:35] jingwei-huang1 commented on #134
Travis CI fixed the issue. PR to add this back https://github.com/linkedin/LayoutKit/pull/139

[2017-04-28 14:47] jingwei-huang1 commented on #134
#139 merged

[2017-04-28 14:47] #134 closed

[2017-04-28 15:34] nicksnyder commented on #138
I would bundle this type of change with some other breaking change that we want to make instead of doing a breaking release just to rename stuff.

[2017-04-28 15:36] nicksnyder commented on #137
More doc would be good. Similar to `reuseIdentifier` for UITableViewCell and UICollectionViewCell.

[2017-05-23 13:44] #133 closed

[2017-05-25 08:15] bcse opened #142 "High memory usage if load a large amout of items at once"
I noticed the memory usage is very high if I changed items number.
I tested by changing this line: https://github.com/linkedin/LayoutKit/blob/2c89e0b63552/LayoutKitSampleApp/FeedBaseViewController.swift#L41
And here is my test results:

- 1000: 12 MB
- 2000: 130 MB*
- 3000: 300 MB*
- 4000: 500 MB*
- 5000: 800 MB* -- On some devices, this caused out-of-memory

`*` This is top memory usage, it decre

[2017-05-25 14:21] nicksnyder commented on #142
I don't understand the first test scenario. FeedBaseViewController is a base class, what child class were you performing the test on?

You are saying the peak memory usage in the second scenario is 40 MB?

ReloadableViewLayoutAdapter stores all layouts in memory and does a few transformations on reload (so it may have peak memory usage multiples more than necessary). We don't have lists of items t

[2017-05-25 14:45] bcse commented on #142
For the first scenario, I am tested with FeedTableViewController.

Currently I am load all data from a local DB and feed in to ReloadableViewLayoutAdapter at once. Now I think I should try to load them incrementally. Thanks for your help. 👍

[2017-06-07 14:59] lucmirego opened #144 "Compare LayoutKit with other layouting methods"
Hi,

http://layoutkit.org/benchmarks is really really nice, and display clearly that LayoutKit is fast. I was just wondering what was the complexity of the UICollectionView's cell in the benchmark? How many views? Can you share a screenshot of the cell's content?

We would like to create a standard benchmark to compare all iOS layout frameworks, and your test is clearly really interesting.

Thanks

[2017-06-07 15:11] jingwei-huang1 opened #145 "Swift 4 Migration"

[2017-06-07 15:14] lucmirego commented on #144
OK, I just found your benchmark in your app. Sorry

[2017-06-07 15:14] #144 closed

[2017-06-07 15:28] jingwei-huang1 commented on #144
No worries.

We are using https://github.com/diwu/DWURecyclingAlert to benchmark the performance. Also, we have a stopwatch (`Stopwatch.swift`) that can record elapsed time and benchmark closures.

[2017-06-23 16:35] Sashke opened #146 "How can we use LayoutKit with UIAppearance"
We have some target's that using same UI but with different color schemes. We setting color schemes via UIAppearance.
For example, without LayoutKit, we have cell (exampleCell) with 3 labels (labelOne, labelTwo, labelThree) which have 3 properties: labelOneTextColor, LabelTwoTextColor and labelThreeTextColor. We can update this properties via UIAppearance like ExampleCell.appearance.setLabelOneTex

[2017-06-24 23:59] AlexBlack559 commented on #9
Same issue. Works well in example project but when I try to call this method from my project i get the same error.

[2017-06-25 00:17] AlexBlack559 commented on #9
Solved by putting `?? []` after `self?.getFeedItems()` still don't understand why this is causing the problem though.

[2017-06-25 02:04] nicksnyder commented on #146
You may capture the views created by LayoutKit in the `config` block that you pass in to the constructor. Does that solve your problem?

[2017-07-14 15:02] #146 closed

[2017-08-03 12:03] domasn commented on #91
Same problem.. See what works for my case in [this gist](https://gist.github.com/domasn/f8aaba53092f1c220f2054f8e946886b).

[2017-08-14 12:59] spekke opened #151 "TextViewLayout not showing all text"
Playground code
[code]

Results in the following view:

![screen shot 2017-08-14 at 14 57 48](https://user-images.githubusercontent.com/604657/29272586-f9f7adf0-8100-11e7-8580-6cba738e4daa.png)

[2017-08-14 16:07] jingwei-huang1 commented on #151
Hi @spekke, thanks for your code and findings.  I found `LayoutKit` has the compatibility issue with `UIFontDescriptor`. We are looking into it and in the meanwhile, could you use `NSFontAttributeName: UIFont(name: font.fontName, size: font.pointSize)` instead?

Also, I found Xcode 9 beta 5 + iOS 11 doesn't have this issue. It only happens on Xcode 8.

[2017-08-14 16:34] jingwei-huang1 commented on #151
@spekke I found the issue that by using `UIFontDescriptor`, it provides different leading to compare with the default font, which is constructed by `UIFont` initializer. After I added the font leading to the size calculation, the size is correct. I will create a PR to fix this. Thanks for reporting this!

[2017-08-15 11:54] spekke commented on #151
You're welcome. Thanks for looking into the problem.  I have noticed the same thing - this problem seems to be fixed in iOS 11. The workaround you mentioned doesn't produce exactly the same result as using the font descriptor but good enough for now. Thanks!

Awesome, looking forward to the PR! :)

[2017-08-15 12:51] spekke opened #152 "TextViewLayout - Why is isSelectable forced to false?"
What's the reason isSelectable is forced to false in TextViewLayout?

[code]

This prevents interactions with links etc.

From docs:

[2017-08-21 19:43] chriscuecal commented on #152
I would like to know the reason for this as well.

[2017-08-21 20:33] jingwei-huang1 commented on #152
Originally, when I built it, it has the issue that the view of "copy, share..." didn't display correctly for some reason.

I just re-tested on iOS 10&11 and it looks good. I will move it before the config to allow the overridden of `isSelectable`

[2017-08-21 20:36] chriscuecal commented on #152
Great! Thank you!

[2017-08-22 04:37] jingwei-huang1 commented on #152
Raised PR https://github.com/linkedin/LayoutKit/pull/153

[2017-08-22 08:08] spekke commented on #152
Ah, cool. Thanks!

[2017-08-22 08:08] #152 closed

[2017-08-31 08:31] spekke commented on #151
@jingwei-huang1 Any updates regarding this issue? Thanks

[2017-09-01 14:12] JayZhao opened #156 "What is the best way to update an existing view's property inside a hierarchy?"
Sorry that I can't seem to find a better place to ask this question.

Say I have setup a complex UI hierarchy using LayoutKit and all the views have been created.
Now I want to update some of their properties. Like a button's `image`, `backgroundImage`, `text`, `font`, `isHidden`...
Or, I want to hide a portion of the UI.

From what I've learned the only way to do this is to **rewrite the whole la

[2017-09-01 16:07] nicksnyder commented on #156
If you are updating a property that does not impact the view's size or position (e.g. color), then you can just capture a reference to the view in the configure block for the layout and update those properties at any point in the future.

Correct. The whole layout needs to be recomputed. The good news is that this is fast by design in LayoutKit. Auto Layout solves the same problem but it is genera

[2017-09-01 16:07] #156 closed

[2017-09-02 01:05] JayZhao commented on #156
Thanks! I think this could be added to the "Get Started" section since it's a quite common question for people just coming from AutoLayout.

[2017-09-02 01:53] jingwei-huang1 commented on #145
PR: https://github.com/linkedin/LayoutKit/pull/154

[2017-09-02 05:02] jingwei-huang1 commented on #151
@spekke Thanks for your following up.

We are using `boundingRect` to measure the size. However, I found `boundingRect` gives the result without respecting `UIFont`'s `leading` , which represents additional space between lines of text and is measured in points. In iOS 11, Apple fixed that issue.

I haven't got the chance to test all scenarios, which have the combinations of different attributes (`

[2017-09-12 11:53] domasn opened #159 "StackLayout fillEqualSpacing leaving a gap at the bottom"
`StackLayout` doesn't fill all of the spacing using `.fillEqualSpacing` distribution if non-zero `spacing` parameter is passed.

The problem is in [`StackLayout.distributionConfig`](https://github.com/linkedin/LayoutKit/blob/2df3a704342b3f7e6a6607e52006834f675c2bc5/Sources/Layouts/StackLayout.swift#L221) where it calculates the `axisSpacing` not taking into account the spaces that were already add

[2017-09-12 14:14] nicksnyder commented on #159
Thanks for the detailed bug report and PR to fix. The expected behavior that you described is what is supposed to happen.

[2017-09-15 13:16] alickbass opened #161 "Opinion on combining with other library"
Hi guys! Thank you very much for you library! I really love it!

I have recently been working on this library called [ViewComponents](https://github.com/alickbass/ViewComponents) which helps to create immutable styles instead directly setting properties on views.

The thing that I left out of the scope of the library was the layout and the actual creation of the views. In my opinion, the `LayoutKi

[2017-09-15 22:53] drasdasdasd opened #162 "Nested vertical collection view"
Hi guys! Tell me please the right approach about my case.

I need to show the nested collection in the table / collection, as in the example you have. But in your example the collection is horizontal, in my case vertical. I need to show the nested collection in full growth (the sum of cells of all heights). I made several edits in the example:

First: set scroll direction as vertical.
<img width="

[2017-09-17 02:27] nicksnyder commented on #161
We created LayoutKit because we observed an actual performance problem with Auto Layout. I have yet to observe a performance problem caused by setting styles like what your library supports. Do you have evidence that the extra work you do diffing actually saves time elsewhere?

It seems like the main benefit of your library is being able to save styles separately from the views themselves. The pro

[2017-09-17 02:27] #161 closed

[2017-09-18 11:15] alickbass commented on #161
@nicksnyder I agree with all your points! Thank you very much!

[2017-09-19 13:55] drasdasdasd commented on #162
Guys what do you think about it?

[2017-09-23 12:35] spekke opened #164 "Problem with ViewReuseId"
Hi,
As I understand it, you should be able to use the same `viewReuseId` for different layouts as long as they create the same UIView class and configure the same view properties. When I'm doing this and using my layouts with `ReloadableViewLayoutAdapter` on a `UICollectionView`, it's not cleaning up views correctly on a re-used `UICollectionViewCell`.

Here's a Playground example that reproduces

[2017-09-23 19:38] #159 closed

[2017-09-24 14:24] GevaZeichner opened #165 "UITableViewCell Problem in iOS 11"
I encountered a strange animation happening in my cells using LayoutKit.
It happens only in iOS 11. iOS 10 behaves normally, with no resizing of the elements inside.
I wasn't able yet to reproduce it outside my project.
I recursively painted all the subviews of `makeViews()` with half transparent background color to help notice the changes.
Using version 5.0.0.
Has anyone experienced anything simi

[2017-09-25 07:58] spekke commented on #164
Ok, I looked into the ViewRecycler code and now it's clear that a `viewReuseId` needs to be unique within each cell view hierarchy.

In our scenario we have a rather complex list view where each row can differ quite a lot from the previous rows but they are all build using the same sub components, just in different content contexts. Most of the sub components have eg. UILabels where only font and

[2017-09-25 14:55] nicksnyder commented on #164
Your observation is correct. `viewReuseId` is intended to identify exactly the same view, not a different but compatible view.

This is something that I experimented around with a while ago and didn't follow through with for reasons I forget. It should be possible to do what you want, but we would need two identifiers: one for uniquely identifying views for animations, and one for identifying a gr

[2017-10-02 08:23] spekke commented on #164
Cool, this is something we definitely would like to have. I would be happy to make a contribution. Just need to find time to work on it, so it would probably take week or so to have a PR ready.

Thanks!

[2017-10-05 17:36] #142 closed

[2017-10-16 00:34] cooksimo opened #170 "OverlayLayout doesn't work with non-specific SizeLayout"
Using a SizeLayout with a constrained height, but no specified width with an OverlayLayout results in the internal overlays having a width of 0

[code]

[2017-10-17 17:49] niyazahmed commented on #19
@nicksnyder @lucabartoletti any updates on this. I am trying to achieve similar functionality.

[2017-10-17 18:18] nicksnyder commented on #19
Feel free to make a more detailed proposal or submit a PR.

[2017-10-18 06:59] siam-biswas opened #171 "Using Custom UIControll callback event & flickery issue"
I'm using layoutKit with UICollectionView.   Using a custom UIControll object with SizeLayout in specific Cell causing weird behavior.

      let reaction =  SizeLayout<ReactionButton>(
            height: 40,
            viewReuseId: "reaction",
            config: { reactionButton in

                    reactionButton.reactionSelector = ReactionSelector()

                    reactionButton.con

[2017-10-19 05:48] Candyroot commented on #170
I think this bug has been resolved in pull request #155. I verified it using the latest version and cannot reproduce it.

[2017-10-19 20:26] cooksimo commented on #170
I think you're right - will close this, thanks!

[2017-10-19 20:26] #170 closed

[2017-10-30 11:05] jiachenmu opened #172 "UIVisualEffectView not supported"
like the kind of ` View.contenView`
eg:

[code]

it will be crashed:

[code]
Is there some solutions?    thanks.. 😬

[2017-11-02 06:36] jiachenmu commented on #172
In `LayoutKitDemo`, i finded this:

[code]

override `UIVisualEffectView.addSubview`,  is a solution?

[2017-11-03 05:35] jiachenmu commented on #172
What I guess above is a solution,  here's an example:

[code]

override  this method ,`addSubview `,  but may not be the best solution (-_-#!)

[2017-12-14 08:20] spekke commented on #164
Finally got time to look into this. I've created a pull request (https://github.com/linkedin/LayoutKit/pull/175) that adds support for `viewReuseGroup`. It would be awesome if you had a look at it.

[2017-12-18 16:48] spekke commented on #151
@jingwei-huang1 Any updates on this?

[2018-01-29 21:27] staguer opened #178 "Objective-C support"
The current Swift API cannot be used from Objective-C. We have an Objective-C codebase where we would like to use this library so we are planning to add Objective-C support to LayoutKit.

Current plan is to add a wrapper layer to LayoutKit to expose an API that's usable from Objective-C.

[2018-01-29 23:29] staguer commented on #178
@nicksnyder Do you have any objections or concerns regarding this addition?

[2018-01-30 01:27] nicksnyder commented on #178
I don’t have any concerns

[2018-01-30 08:27] jiaopen opened #179 "Compile error when using pod"
![image](https://user-images.githubusercontent.com/8399918/35555474-40c23e68-05da-11e8-96f1-afc733651c2e.png)
This problem can be fixed after i added "import Foundation" in ViewRecycler.swift

[2018-01-30 19:18] staguer commented on #179
Thanks for the report!

[2018-02-01 10:47] jiaopen commented on #179
Could you fix this defect asap, thx, unless i have to use private pod repo.

[2018-02-01 16:15] jingwei-huang1 commented on #179
@jiaopen I don't find this issue. Could you share your Xcode version?

[2018-02-02 02:31] jiaopen commented on #179
Version 9.2 (9C40b)

[2018-02-05 10:11] jiaopen commented on #179
I think i find the problem.
I used a plugin in pod file
[code]
however i still believe that ‘import Foundation’ should be in ViewRecycler.swift.

[2018-02-09 16:50] itskoBits opened #182 "StackLayout last item height seems wrong"
Hi guys,

I have some experience using LayoutKit, but I am struggling with a really simple use case. I am not sure if I I am missing something or if it is an issue within the library.

### What I want to achieve.
I have a view(**P**) with fixed size and I want to place two subviews inside. The first(**S1**) one is with fixed size, the second one(**S2**) has a fixed width and should fill the remain

[2018-02-12 03:04] staguer commented on #182
Hello @itskoBits, I think you've indeed found a bug, thank you for reporting it. I have reproduced it with the help of the code that you've provided. I don't have a fix at this moment, but I think there's a workaround, please try setting a `minHeight` (any positive value should work, like 1 or 0.000001) on the `verticalLineLayout`.

[2018-02-12 03:58] nicksnyder commented on #182
Yeah, this looks like a bug. That said, I was not able to reproduce it in a playground:

![image](https://user-images.githubusercontent.com/754768/36083294-b58db1d4-0f65-11e8-8c22-24c1398aebc2.png)

[code]

[2018-02-12 09:55] itskoBits commented on #182
The black bar goes outside of the bounds of the blue view. The playground is displaying the blue view only within it's bounds. Here is sample playground code that displays the issue.

[code]

[2018-02-12 17:36] staguer commented on #182
Another way to reproduce it is by adding a `print(arrangement.debugDescription)`

[2018-02-12 17:37] staguer commented on #182
@itskoBits Have you had a chance to try the workaround? Does it work for you?

[2018-02-12 18:22] itskoBits commented on #182
@staguer
Yes, it did work for me.

[2018-02-13 09:06] plamenterziev opened #184 "Wrong LabelLayout height when using attributed string with kern and line height"
For some reasons setting both kern and line height of an attributed string makes `boundingRect` to return wrong height if the string can fit only one line.

[code]

Here the `size` is `(29.59384765625, 120.287109375)` which seems fine for width but the height is wrong (maybe is the real height + the line height).

If the text goes multilines then `boundingRect` returns correct height.

Also removi

[2018-02-13 11:43] borkuslav opened #185 "Proportionally resizing subviews of vertical StackLayout with max height"
I'm trying to setup a layout consisting of two labels placed vertically in StackLayout that has defined height. Labels should adjust it's font size according to available space. However, layouting engine scales only bottom label, preserving size of the top one. Here is demo code taken form an example app, changed to cover this case:

[code]
Fonts are set to 40 points, and entire view has height of

[2018-02-15 14:41] itskoBits commented on #184
I can reproduce this as well. Removing the kern spacing resolves the issue, but I want to use custom kerning.

[2018-02-15 21:41] staguer commented on #178
The wrapper layer has been pushed to master. Docs and tests to follow.

[2018-03-13 15:48] codeOfRobin opened #195 "Using LayoutKit with `UITableViewDataSource`"
Hey! I'm trying to use LayoutKit with a regular `UITableViewDataSource`/`UICollectionViewDataSource`. Looking through `StackView`s code, it isn't quite clear how this would work 😕 .

1. How would you convert a `Layout` to a UITableViewCell? How do you induce Layout?
2. How would you calculate the height for each row/size at each indexPath?

[2018-04-04 04:05] moshegutman opened #196 "Blurry UILabel"
When using a UILabel and the alignment frame isn't placed on an integer value, the text can appear blurry.

I solved this by adjusting the return `CGRect` inside the `Alignment` constructor. I added a call to `.integral`

[code]

Not sure if this should be classified as a bug

[2018-04-04 04:07] moshegutman commented on #196
A reference to a similar issue on StackOverflow:
https://stackoverflow.com/questions/8065892/blurry-uilabel-when-added-programmatically

[2018-04-08 19:37] staguer commented on #196
I think this qualifies as a bug, thanks for reporting, @moshegutman .
I noticed that we have `roundedUpToFractionalPoint` in `CGFloatExtension.swift`, that would make smaller adjustments to the rectangles.
Another issue to consider is whether two adjacent rectangles that are adjusted to fall on pixel boundaries do indeed remain adjacent after the adjustment to make sure that a background color doe

[2018-04-08 19:39] staguer commented on #195
@codeOfRobin for a `UITableView` or `UICollectionView` I'd recommend using `ReloadableViewLayoutAdapter`. It produces layout arrangements from the layouts supplied by your code and uses that to populate the cells and respond to the sizing callbacks.

[2018-04-20 08:19] richardtop opened #201 ""See More" label & update animatiojn"
![img_e0286](https://user-images.githubusercontent.com/8013017/39038597-94e7438a-448c-11e8-96cd-38cb847ca168.JPG)

What's the recommended approach of implementing the "See more" label and expansion animation? I've attached the screenshot from the LinkedIn iOS app.

[2018-04-21 19:56] #195 closed

[2018-04-29 21:31] kartikthapar opened #204 "LabelLayout goes beyond screen width"
Here's a wrapper for a bunch of components/layouts but currently only hosting a label layout.

[code]

Its called here:

[code]

Here's the result:

<img width="423" alt="screen shot 2018-04-29 at 2 29 31 pm" src="https://user-images.githubusercontent.com/810861/39411181-cd120658-4bb9-11e8-992d-bfa4a9d2bb2a.png">

Now I am unsure what's wrong here:
- number of lines?
- alignment?

[2018-04-29 21:35] kartikthapar commented on #204
<img width="414" alt="screen shot 2018-04-29 at 2 34 14 pm" src="https://user-images.githubusercontent.com/810861/39411214-85495b04-4bba-11e8-86f4-439e7b0e623f.png">

One more thing, if I just have a single label aligned using `Alignment.center`, it show up as above. It feels like the width of this containing view is wrong but there is nothing much that is going on.

[2018-05-24 05:19] tysonkerridge commented on #204
Just from looking at the code, without testing it myself, it looks like the thing missing in your original post is giving a width/height when making your arrangement.
[code]
should be
[code]
Without passing the sizing information, LayoutKit is going to calculate the frame at the largest size.
Check out `Layout.swift`, method starting at line 121 `arrangement(origin:width:height:)`

[2018-06-25 13:07] FabianTerhorst commented on #162
Hi,

Its a bit of time past since the question, but maybe someone else find this useful.
i had needed an nested vertical collection view as well, here is my solution:
https://gist.github.com/FabianTerhorst/495493358c6987168c4f79aadec4090e

[2018-07-12 10:05] richardtop commented on #204
@kartikthapar just out of interest, what font are you using in these examples?

[2018-07-18 20:49] staguer commented on #204
The answer by @tysonkerridge appears to be correct. Closing the issue.

[2018-07-18 20:49] #204 closed

[2018-07-20 05:01] moshegutman commented on #196
Following your advice, I went with this:

[code]

[2018-09-22 16:12] mark-anders opened #232 "Reference documentation is broken"
There does not seem to be any reference docs for recent versions of LayoutKit.

The current release is 9.0.0, but if I navigate to the documentation at http://layoutkit.org/code-documentation/, I'm sent to http://cocoadocs.org/docsets/LayoutKit/6.0.1/, which seems to be completely broken.  There is but a single class listed `DWUKVOLabel`.

If I navigate to previous versions of the docs via the Coc

[2018-09-25 21:32] ilanl opened #233 "Not ready for Swift 4.2"
I'm trying to use Layout Kit with XCode 10 (beta 6) - Swift 4.2
Any news of this development? to know if I can adopt this cool framework
Thanks for the great job!

[2018-10-16 16:42] aputinski commented on #9
Im getting `Extra argument 'synchronous' in call` with the following code:

[code]

[2018-11-06 19:22] staguer commented on #233
I've made PR #244 (and a corresponding branch) for Swift 4.2 but it's having CI issues that I haven't had time to get to the bottom of.

[2019-01-29 14:23] okaverin commented on #233
Hi, any updates on this one, as Swift 5 is already coming up? Could it be that the issues were caused by a temporary problem on the CI side?

[2019-01-29 17:01] FabianTerhorst commented on #233
Support for swift 4.2 is definitely needed, otherwise it will stop compiling with swift 5.0

[2019-02-26 14:05] OHeroJ opened #249 "likes flutter ,ah!"
so , Looking forward to continue the iteration and fix issues。good job, come on

[2019-03-14 07:24] hooliooo commented on #233
Any news on this?

[2019-04-11 07:09] hooliooo opened #254 "Make the designated initializers with a viewClass argument public"
Hi there,

Is there any reason why the initializers with the viewClass argument marked internal? It would be extremely useful if they were exposed as public.

Reason:
Let's say for example you want to define a SizeLayout<UITextField> and you want to determine what UITextField.Type you want to use at runtime, the current initializers for SizeLayout prevents you from doing so.

[code]

Using the lat

[2019-04-16 11:46] hooliooo commented on #233
I'm sorry for double posting, but will there be any update to Swift 5 at all? People have been asking for a Swift version update for over half a year now 🤔. It's an awesome layout library, I'd hate to see it unmaintained.

[2019-04-16 12:28] okaverin commented on #233
Sergei just left LinkedIn/Microsoft for Apple. This repo belongs to LinkedIn. I think this explains a lot.

[2019-04-16 12:51] hooliooo commented on #233
:/ really unfortunate.

[2019-04-19 09:17] #249 closed

[2019-04-22 01:47] roshanman opened #255 "can we build a layout kit like flutter?"

[2019-05-04 05:17] OHeroJ commented on #233
我觉得我们可以另立山头，一起维护

[2019-05-07 09:44] hooliooo commented on #233
@OHeroJ The issue is the Apache license (copyright). We can't just duplicate the repo without legal repercussions

[2019-05-07 10:17] enums opened #256 "SizeLayout<CustomView> will not actually create a CustomView"
`SizeLayout<CustomView>` will not actually create a `CustomView` instance.
It doesn't feel right.
Maybe `SizeLayout` should override `needsView` property return `true`?
Or just make this property to be a storage property and set default value is `true`?

[2019-05-13 00:54] OHeroJ commented on #233
@hooliooo From the idea of LayoutKit rewrite the new library

[2019-05-28 09:41] AlaeddineOuerteni opened #258 "Is Swift 5 support planned ?"

[2019-06-26 08:38] AlaeddineOuerteni commented on #233
Any news for Swift 4.2 and 5 ?

[2019-07-02 02:28] lmtha commented on #233
I found out a solution for swift >= 4.2
=> pod 'LayoutKit', :git => 'https://github.com/linkedin/LayoutKit.git', :branch => 'master'

[2019-08-25 01:55] tcurdt commented on #258
Urgh - still no word?

[2019-08-29 07:03] hooliooo commented on #258
Just fork the repo and update it yourself and pull changes from the repo as it updates. I'm currently doing this

[2019-09-04 07:08] hooliooo opened #262 "iOS 13 Dark mode"
With iOS 13 coming out soon, is there any functionality in the framework that allows us to handle dark mode?

Maybe an example on how to handle that?

[2019-12-09 20:24] onmyway133 opened #263 "Do you still recommend LayoutKit"
Hi, thanks for the great library. Correct me if I'm naive, but Auto Layout seems to get better performance https://developer.apple.com/videos/play/wwdc2018/220 sine iOS 12. Have you redone any benchmarks with Auto Layout to see the performance gain with LayoutKit, and would you still recommend LayoutKit, especially for big apps that uses UITableView/UICollectionView a lot ?

[2019-12-10 23:12] netspencer commented on #96
any plans to finalize this and get it merged in?

[2019-12-12 11:11] AlaeddineOuerteni commented on #258
@hooliooo it's not a good practice. It will better that they do it here.

[2019-12-16 12:53] hooliooo commented on #258
@AlaeddineOuerteni The last time there was any meaningful update was 6 months ago. It may not be good practice, but it's better than not being updated at all

[2020-04-02 11:02] AlexLittlejohn commented on #263
Rerunning this [LayoutFrameworkBenchmark](https://github.com/layoutBox/LayoutFrameworkBenchmark) on iOS 13 with the latest of each of these libraries still shows a significant performance gap between autolayout vs everything else.

[2020-04-02 11:34] onmyway133 commented on #263
@AlexLittlejohn thanks, does that mean Auto Layout is becoming slower now?

[2020-04-02 11:39] AlexLittlejohn commented on #263
No, there is improvement but its still not as fast as the alternatives such as layoutkit

[2020-04-02 16:55] #263 closed

[2020-04-02 16:55] onmyway133 commented on #263
@AlexLittlejohn I use LayoutKit now not sure if it worths the effort to transition to Auto Layout. Thanks for answering

[2020-06-21 07:21] sdyalor commented on #258
Any thoughts ?

[2020-09-30 09:22] zhongWJ commented on #256
You need pass `config` parameter when call `SizeLayout`'s init method.
`needsView` returns `true` when `config` property is not `nil`.

[2020-10-11 06:45] #256 closed